html {font-family: helvetica;
	background-image: url(image.jpg);
 }

 head{


 }
body{width: 800px;
	height: 900px;
    background-color: #FF6600;
    margin: auto;
    padding: 15px;
    border: 3px red;
}

header{

	background-color: #33CCCC;
	padding-top: 15px;
	text-align: center;
    
    text-shadow:2px 2px #0000FF;



}


nav ul{list-style: none;


}
h3{
	color: #0000FF;
	list-style: none;
	background-color: #C0C0C0;
	margin:  left;
	border-radius: 15px;

}
 ul li{
 	display:inline-block;
 	
 } 
 li img{
 	width: 150px;
 	height: 145px;
 	margin: 15px;
 	border-radius: 10px;


 }
div ul{
	text-align: center;

}

button {
	background-color: gainsboro; 
     font-size: 40px; 


}
p{
color: white;	
}