  body{
            background-image:url(image.jpg) ;
            background-repeat:no-repeat;
            background-size: 100% 500px;
            background-color:lightgoldenrodyellow;
            
            padding:0px;
            margin:0px;
            top:0px;
            
            

        }

#bt{

  margin-top: -40px;

  }
  #abc{

      font-family:'Bradley Hand ITC';
      font-size:35px;
      background-color:darkkhaki;

  }
 
  #abc ul {

      text-align:left;
      
      
 }

  
  #abc ul li {

    display:inline;  
    
 }
    #abc ul li a {
        
        padding:20px;
      color:maroon;
           text-decoration: none;
    }
   .img {
    padding: 5px;
    border: 1px solid black;
     width: auto;
     float: left;
     text-align: center;
      top:0;


     display: inline;
     margin: 10px;
     border: 1px solid black;
 }

.img a:hover img {
     border:1px solid black;

 }

.leftSide{
 float: left;
 width: 70%;
 margin-left: 30px;

}

.leftSide p{

    text-align: justify;
     color:maroon;
}

.rightSide{
 float: right;
 width: auto;

}

.rightSide ul{
list-style-type: armenian;

}
.rightSide ul a{
text-decoration: none;

}
.desc {
     text-align: center;
     font-weight: normal;
     width: 120px;
     margin: 5px;
 }
 
#picture {
    
    height:320px;
}
#bt {
    height:60px;
    
    font-size:40px;
    color:darkgoldenrod;
    text-align:left;
    font-family:'Bradley Hand ITC';
    background-color:darkkhaki;
    
}

.footer{
    
   clear: both;
}
.footer ul{
list-style-type: none;
}

.footer p{
    
   text-align: center;
}